<!--日程状态-->
<article class="row article">
  <h1><time>2015/05/12 9:00</time><br/>巴黎婚纱拍照</h1>
  <div class="textarea">
    <h2>服务内容</h2>
    <ul>
      <li>18寸琉璃面一体成型相册1本（10P，入册25张）</li>
      <li>18寸琉璃面一体成型相册1本（10P，入册25张）</li>
      <li>18寸琉璃面一体成型相册1本（10P，入册25张）</li>
      <li>90寸巨幅婚礼专用高级绢丝海报1个（含照片及海报设计配送专属太空合金便携“X”展架1个）</li>
    </ul>
    <h2>拍摄当天服务</h2>
    <p>90寸巨幅婚礼专用高级绢丝海报1个（含照片及海报设计配送专属太空合金便携“X”展架190寸巨幅婚礼专用高级绢丝海报1个（含照片及海报设计配送专属太空合金便携“X”展架190寸巨幅婚礼专用高级绢丝海报1个（含照片及海报设计配送专属太空合金便携“X”展架1</p>
  </div>
</article>
<!--日程状态结束-->
